
section.container{
    padding: 20px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    color: var(--main-green-color);
}
.form div{
    position: relative;
    margin-inline: auto;
    width: fit-content;
}
.form div input{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    outline: none;
    width: 300px;
}
.form div input:focus ,.form div input:not(:placeholder-shown):valid ,.form div input:not(:placeholder-shown):invalid{
    border: 1px solid var(--main-green-color);
    box-shadow: 0 0 5px var(--main-green-color);
    transition: all 0.3s ease;
}
.form div label{
    font-size: 16px;
    position: absolute;
    z-index: -1;
    top: 18px;
    left: 10px;
    transition: all 0.3s ease;
    color: #999;
}
.form div input:focus + label,.form div input:not(:placeholder-shown):valid + label,.form div input:not(:placeholder-shown):invalid + label  {
    top: 0;
    background-color: white;
    left: 5px;
    z-index: 0;
    font-size: 15px;
    color: var(--main-green-color);
}
.btn{
    display: inline-block;
    background-color: var(--main-green-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    text-decoration: none;
    border: 1px solid transparent;
}
.btn:hover{
    background-color: transparent;
    box-shadow: 0 0 5px var(--main-green-color);
    transition: all 0.3s ease;
    color: var(--main-green-color);
    border: 1px solid var(--main-green-color);
}
.btn:active{
    transform: scale(0.80);
    transition: all 0.3s ease;
}
p{
    color: red;
    font-size: 14px;
    display: none;
    width: 300px;
}
section.radio{
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section.radio span input[type="radio"]{
    accent-color: var(--main-green-color);
}
section.radio span label{
    transition: all 0.3s ease;
}
section.radio span input[type="radio"]:checked + label{
    color: var(--main-green-color);
    padding: 10px;
}


